<!DOCTYPE html>
<html lang="">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <link rel="stylesheet" href="">
    <script type="text/javascript" src="js/script.js"></script>
    <link src="css/style.css" />
</head>

<body>
    <button onclick="clearGame()">Clean game</button>
    <button onclick="startGame()">Start game</button>
    <div id="quiz">
    </div>
  <script>
        var quiz = new Quiz ({
            questions: ["¿Capital de Francia?","¿Capital de España?", "¿Capital de Islandia?", "¿Capital de Turquía?"],
            answers: [["París","Nápoles", "Madrid", "Moscú"], ["París", "Nápoles", "Madrid", "Moscú"], ["París", "Nápoles", "Reikiavik", "Moscú"], ["París", "Ankara", "Madrid", "Moscú"]],
            correctChoice: [0, 2, 2, 1],
            hits: 4,
            fails: 4,
            random: true, //TODO
            onFinishHit: function(){
                console.log("OnFinishH!");
            },
            onFinishFail: function(){console.log("onFini8shF!")},
            onHit: function(){
                /*  TODO
                    add dimensions to "onPress"
                    create video/image
                */
                console.log("Hit!");
                
            },
            onFail: function(){
                /* TODO
                    add dimensions to "onPress"
                    create video/image
                */
                console.log("Fail!");
            }
            
      });
      
      //quiz.render();
      
      
      function clearGame(){
          quiz.clear();
      }
      
      function startGame(){
          quiz.render();
      }

      
  </script>
</body>
</html>
